<h2>Cadastro de Rotas</h2>
<p class="msg">
  {{ msg }}
</p>

<form name="rotaForm">

  <div class="form-group">
    <label for="">
      <span class="form-label-text">ID da Rota</span>
      <input type="text" data-ng-model="rota.id_rota" />
    </label>
  </div>

  <div class="form-group">
    <label for="">
      <span class="form-label-text">Ação</span>
      <input type="text" data-ng-model="rota.acao" />
    </label>
  </div>

  <div class="form-group">
    <label for="">
      <span class="form-label-text">Rota Principal</span>
      <input type="text" data-ng-model="rota.rota_principal" />
    </label>
  </div>

  <div class="form-group">
    <label for="">
      <span class="form-label-text">Rota Pai</span>
      <input type="text" data-ng-model="rota.rota_pai" />
    </label>
  </div>

  <div class="form-group">
    <label for="">
      <span class="form-label-text">Canal </span>
      <input type="text" data-ng-model="rota.canal" />
    </label>
  </div>

  <div class="form-group">
    <label for="">
      <span class="form-label-text">Sistema </span>
      <input type="text" data-ng-model="rota.sistema" />
    </label>
  </div>
  <div class="form-group">
    <label for="">
      <span class="form-label-text">Encapsula PS </span>
      <!-- <input type="text" data-ng-model="rota.encapsula_ps" /> -->

      <select ng-model="rota.encapsula_ps">
        <option value="true" ng-selected="rota.encapsula_ps=='true'">SIM</option>
        <option value="false" ng-selected="rota.encapsula_ps=='false'">NÃO</option>
      </select>

    </label>
  </div>
  <div class="form-group">
    <label for="">
      <span class="form-label-text">Menu Superior Pai </span>
      <input type="text" data-ng-model="rota.menu_superior_pai" />
    </label>
  </div>
  <div class="form-group">
    <label for="">
      <span class="form-label-text">Menu Superior Filho </span>
      <input type="text" data-ng-model="rota.menu_superior_filho" />
    </label>
  </div>
  <div class="form-group">
    <label for="">
      <span class="form-label-text">Menu Lateral Nivel 1 </span>
      <input type="text" data-ng-model="rota.menu_nivel1_lateral" />
    </label>
  </div>
  <div class="form-group">
    <label for="">
      <span class="form-label-text">Menu Lateral Nivel 2 </span>
      <input type="text" data-ng-model="rota.menu_nivel2_lateral" />
    </label>
  </div>
  <div class="form-group">
    <label for="">
      <span class="form-label-text">Menu Lateral Nivel 3 </span>
      <input type="text" data-ng-model="rota.menu_nivel3_lateral" />
    </label>
  </div>
  <div class="form-group">
    <label for="">
      <span class="form-label-text">Miolo </span>
      <input type="text" data-ng-model="rota.miolo_aplicacao" />
    </label>
  </div>
  <div class="form-group">
    <label for="">
      <span class="form-label-text">API Categoria </span>
      <input type="text" data-ng-model="rota.api_categoria" />
    </label>
  </div>
  <div class="form-group">
    <label for="">
      <span class="form-label-text">API Subcategoria </span>
      <input type="text" data-ng-model="rota.api_subcategoria" />
    </label>
  </div>
  <div class="form-group">
    <label for="">
      <span class="form-label-text">Sigla Pool </span>
      <input type="text" data-ng-model="rota.sigla_pool" />
    </label>
  </div>
  <div class="form-group">
    <label for="">
      <span class="form-label-text">Caminho URL </span>
      <input type="text" data-ng-model="rota.caminho_url" />
    </label>
  </div>

  <hr align="left" size="5" />
  <h5>Aplicação</h5>
  <hr align="left" size="8" />

  <div class="form-group">
    <label for="">
      <ul>
        <li ng-repeat="aplic in aplicacao">
          <input type="input" name='data-attr' value='{{aplic.build}}' ng-model="aplic.build" />
        </li>
      </ul>
    </label>
  </div>

  <div class="form-group">
    <button class="btn btn-large" data-ng-click="create(rota)">Incluir</button>
  </div>
  <div class="form-group">
    <p class="msg">
      {{ msg }}
    </p>
  </div>
</form>
